{% if page.comments != false %}
  {% case site.comments_provider %}
    {% when 'disqus' %}
      {% if site.disqus_username %}
          <!-- Disqus Protection, see https://github.com/mzlogin/mzlogin.github.io/issues/2 -->
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
              this.page.url = '{{ site.url }}{{ page.url }}';
              this.page.identifier = '{{ page.url }}';
              this.page.title = '{{ page.title }}';
            };
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');

              s.type = 'text/javascript';
              s.async = true;
              var shortname = '{{ site.disqus_username }}';

              s.src = '//' + shortname + '.disqus.com/embed.js';

              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {% endif %}
    <!-- Gitment -->
    {% when 'gitment' %}
      {% if site.gitment_owner %}
      <div id="container"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <script>
      var gitment = new Gitment({
        // id: '页面 ID', // 可选。默认为 location.href
        owner: '{{ site.gitment_owner }}',
        repo: '{{ site.gitment_repo }}',
        oauth: {
          client_id: '{{ site.gitment_client_id }}',
          client_secret: '{{ site.gitment_secret }}',
        },
      })
      gitment.render('container')
      </script>
      {% endif %}
      <!-- END Gitment -->
  {% endcase %}
{% endif %}