---
layout: noheader-layout
---

<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <div>
        <h1 class="collection-header">{{ page.title }}</h1>
        <p class="repo-list-meta">
            <span class="meta-info">
                <a href="/" title="{{ site.title }}">
                  <img src="/images/my-avatar.jpg" style="vertical-align:middle;border-radius:10px;width:20px;height:20px">
                  {{ site.author }}
                </a>
                <span style="width=30px">&nbsp;</span>
                <span class="octicon octicon-calendar"></span> 
                {{ page.date | date: "%Y/%m/%d" }}
            </span>
        </p>
    </div>
    <br />
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <br /><hr />
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-post-nav.html %}
  </div>
</div>
</section>
